<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Friends Cycle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let moment of moments">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{moment.avatar}}">
      </ion-avatar>
      <h2>{{moment.author}}</h2>
      <p>{{moment.time}}</p>
    </ion-item>

    <img src="{{moment.image}}" *ngIf="moment.image.split('=').pop() !== 'moment_default.jpg'">

    <ion-card-content [innerHTML]="moment.content"></ion-card-content>
    <ion-row>
      <ion-col>
        <ion-item icon-left>
          <ion-note >Tag:</ion-note>
          <button ion-button clear *ngFor="let tag of moment.tags">{{tag}}</button>
        </ion-item>
        <ion-item icon-left *ngIf="moment.streetName !== '空'">
          <ion-icon name="navigate" item-left></ion-icon>
          <button ion-button clear>{{moment.streetName}}</button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-left>
          <ion-icon name='thumbs-up'></ion-icon>
          {{moment.likes.length}} Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-left
                (click)="openModalMomentDetailPage(moment)">
          <ion-icon name='text'></ion-icon>
          {{moment.comments.length}} Comments
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          sometime
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
