page-movie {
    .movie_cover {
        max-width: 25%;
    }

    .item-ios h1 {
        margin-bottom: inherit;
    }

    h3 span {
        font-size: 20px;
        color: rgb(241, 153, 8);
    }
}
